:root {
  --fonte: 'Montserrat', sans-serif;
  --write: #FFFFFF;
  --black: #000000;
  --gray: #E2E2E2;
}

body {
  font-family: var(--fonte);
  background-color: var(--write);
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
